http://www.aychukukdanismanlik.com/ {
    redir https://aychukukdanismanlik.com{uri}/
}

https://www.aychukukdanismanlik.com/ {
    redir https://aychukukdanismanlik.com{uri}/
}

https://aychukukdanismanlik.com/ {
    reverse_proxy localhost:8000
}

aychukukdanismanlik.com {
    reverse_proxy localhost:8000
}
