{% extends 'layout.html' %}
{% block content %}

<section id="hakkimizda">
    <div class="container pt-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="text-center">Hakkımızda</h2>
                <p class="lead">Merkezi Ankara’da bulunan hukuk büromuz, alanında derin bilgi ve tecrübeye sahip
                    uzman avukat
                    kadrosu ile hem yerli
                    hem de yabancı müvekkillerine kapsamlı ve profesyonel hukuki hizmetler sunmaktadır.
                </p>
                <p class="lead">Amacımız,
                    müvekkillerimizin
                    hukuki ihtiyaçlarına en etkin çözümleri sunarken, her bir dosyada titizlikle çalışarak en yüksek
                    hizmet kalitesini
                    sağlamaktır.
                </p>
                <p class="lead">Geniş bir yelpazede sunduğumuz hukuki danışmanlık ve temsil hizmetleri ile
                    müvekkillerimizin haklarını
                    koruma altına almayı ve onları hukuki süreçlerin her aşamasında en iyi şekilde temsil etmeyi
                    hedefliyoruz.
                </p>

            </div>
            <div class="col-md-6 text-center pt-5">
                <img src="/static/aychukuklogoyazi.png" alt="AYC HUKUK" width="340" height="305">
            </div>
        </div>


    </div>
</section>

<section id="cv">
    <div class="container">
        <h2>Av. Ahmet Yusuf CAN</h2>
        <p class="lead">Av. Ahmet Yusuf CAN, Hukuk Fakültesi’ni fakülte birincisi olarak yüksek onur derecesi ile
            tamamlamıştır. Eğitimine yurt dışında devam etmektedir. Kurucusu olduğu, merkezi Ankara’da bulunan AYC
            Hukuk Danışmanlık & Arabuluculuk bürosu aracılığıyla ağırlıklı olarak Ceza Hukuku alanında yerli ve
            yabancı müvekkil ile şirketlere avukatlık hizmeti vermektedir. Aynı zamanda, mensubu olduğu partinin
            hukuk işlerinden sorumlu Ankara İl Başkan Yardımcılığı görevini yürütmekte ve inşaat sektöründe de
            faaliyet göstermektedir.
        </p>

        <p class="lead">Mesleki kariyeri boyunca birçok eğitim ve seminere katılmış olan Av. CAN, Hukuk Fakültesi
            Birincilik
            Plaketi ve 1., 2., 3. ve 4. sınıflar için ayrı ayrı Yüksek Onur Belgeleri’ne sahiptir. Ayrıca Türkiye
            Büyük Millet Meclisi İnsan Kaynakları Başkanlığı tarafından verilen Yasama Bilgilendirme Eğitimi, Türk
            Ceza Mevzuatı ve Uygulamaları Eğitimi, Kişisel Verilerin Korunması Kanunu (KVKK) Uzmanlık Eğitimi, Adli
            Bilişim Uzmanlığı, İş Hukuku ve İş Güvenliği, Ceza ve İnfaz Hukuku alanlarında çeşitli sertifikalar
            almıştır.
        </p>

    </div>
</section>

<div class="modal fade" id="calismaAlaniModal" tabindex="-1" aria-labelledby="calismaAlaniModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="calismaAlaniModalLabel">ÇALIŞMA ALANI</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <p class="fw-lighter fs-6">- Ahmet Yusuf Can Hukuk Danışmanlık</p>


            </div>
        </div>
    </div>
</div>

<section id="ekibimiz">
    <div class="container">
        <h2>EKİBİMİZ</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card ekibimiz-kart">
                    <img src="/static/aycfotografyeni.jpg"
                         class="card-img-top" alt="KURUCU AVUKAT AHMET YUSUF CAN ">
                    <div class="card-body">
                        <h5 class="card-title">AHMET YUSUF CAN</h5>
                        <p class="card-text">- Kurucu Avukat</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ekibimiz-kart">
                    <img src="/static/avukatcubbesi.png"
                         class="card-img-top" alt="KURUCU AVUKAT FURKAN MAHMAT">
                    <div class="card-body">
                        <h5 class="card-title">FURKAN MAHMAT</h5>
                        <p class="card-text">- Kurucu Avukat</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ekibimiz-kart">
                    <img src="/static/avukatcubbesi.png"
                         class="card-img-top" alt="KURUCU AVUKAT İSLAM ASLAN">
                    <div class="card-body">
                        <h5 class="card-title">İSLAM ASLAN</h5>
                        <p class="card-text">- Kurucu Avukat</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ekibimiz-kart">
                    <img src="/static/avukatcubbesi.png"
                         class="card-img-top" alt="AVUKAT ÖZGÜR BARÇA">
                    <div class="card-body">
                        <h5 class="card-title">ÖZGÜR BARÇA</h5>
                        <p class="card-text">- Avukat</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ekibimiz-kart">
                    <img src="/static/avukatcubbesi.png"
                         class="card-img-top" alt="AVUKAT SAİT ÇELİKER">
                    <div class="card-body">
                        <h5 class="card-title">SAİT ÇELİKER</h5>
                        <p class="card-text">- Avukat</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card ekibimiz-kart">
                    <img src="/static/avukatcubbesi.png"
                         class="card-img-top" alt="AVUKAT ENGİNCAN ÜNAL">
                    <div class="card-body">
                        <h5 class="card-title">ENGİNCAN ÜNAL</h5>
                        <p class="card-text">- Avukat</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="calisma-alanlari">
    <div class="container">
        <h2>Çalışma Alanları</h2>
        <div class="row">
            <div class="swiper pt-1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/cezahukuku.svg" alt="Ceza Hukuku" width="64" height="64">
                                <h5 class="card-title pt-3">CEZA HUKUKU</h5>
                                <p class="card-text">Suçlar ve cezalar konusunda uzman savunma.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Ceza Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/icraiflashukuku.svg" alt="İcra ve İflas Hukuku" width="64"
                                     height="64">
                                <h5 class="card-title pt-3">İCRA VE İFLAS HUKUKU</h5>
                                <p class="card-text">Borç tahsilatı ve iflas süreçlerinde profesyonel destek.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="İcra ve İflas Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/ailehukuku.svg" alt="Aile Hukuku" width="64" height="64">
                                <h5 class="card-title pt-3">AİLE HUKUKU</h5>
                                <p class="card-text">Aile içi anlaşmazlıklarda uzlaşmacı ve adil çözümler.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Aile Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/kirahukuku.svg" alt="Kira Hukuku" width="64" height="64">
                                <h5 class="card-title pt-3">KİRA HUKUKU</h5>
                                <p class="card-text"> Kiracı ve mülk sahiplerinin haklarını koruma.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Kira Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/sirkethukuku.svg" alt="Şirketler Hukuku" width="64"
                                     height="64">
                                <h5 class="card-title pt-3">ŞİRKETLER HUKUKU</h5>
                                <p class="card-text">İş dünyasında hukuki güvence ve danışmanlık.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Şirketler Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/mirashukuku.svg" alt="Miras Hukuku" width="64" height="64">
                                <h5 class="card-title pt-3">MİRAS HUKUKU</h5>
                                <p class="card-text">Miras paylaşımı ve vasiyet işlemlerinde uzman destek.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Miras Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/gayrimenkulhukuku.svg" alt="Gayrimenkul Hukuku" width="64"
                                     height="64">
                                <h5 class="card-title pt-3">GAYRİMENKUL HUKUKU</h5>
                                <p class="card-text">Emlak alım-satım ve imar konularında hukuki güvence.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Gayrimenkul Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/vergihukuku.svg" alt="Vergi Hukuku" width="64" height="64">
                                <h5 class="card-title pt-3">VERGİ HUKUKU</h5>
                                <p class="card-text">Vergi planlaması ve uyuşmazlık çözümünde uzman destek.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Vergi Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/idarehukuku.svg" alt="İdare Hukuku" width="64" height="64">
                                <h5 class="card-title pt-3">İDARE HUKUKU</h5>
                                <p class="card-text">Kamu kurumlarıyla ilişkilerde hukuki danışmanlık.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="İdare Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/sozlesmehukuku.svg" alt="Sözleşmeler Hukuku" width="64"
                                     height="64">
                                <h5 class="card-title pt-3">SÖZLEŞMELER HUKUKU</h5>
                                <p class="card-text">Her türlü sözleşmede hukuki güvence sağlama.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Sözleşmeler Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/ishukuku.svg" alt="İş Hukuku" width="64" height="64">
                                <h5 class="card-title pt-3">İŞ HUKUKU</h5>
                                <p class="card-text">İşçi ve işveren haklarında uzman danışmanlık.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="İş Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/tuketicihukuku.svg" alt="Tüketici Hukuku" width="64"
                                     height="64">
                                <h5 class="card-title pt-3">TÜKETİCİ HUKUKU</h5>
                                <p class="card-text">Tüketici haklarının korunmasında etkin savunma.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Tüketici Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/sigortahukuku.svg" alt="Sigorta ve Tahkim Hukuku" width="64"
                                     height="64">
                                <h5 class="card-title pt-3">SİGORTA VE TAHKİM HUKUKU</h5>
                                <p class="card-text">Sigorta anlaşmazlıklarında uzman çözümler.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Sigorta ve Tahkim Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/yabancivatandaslikhukuku.svg"
                                     alt="Yabancı ve Vatandaşlık Hukuku"
                                     width="64" height="64">
                                <h5 class="card-title pt-3">YABANCI VE VATANDAŞLIK HUKUKU</h5>
                                <p class="card-text">Oturma izni ve vatandaşlık işlemlerinde rehberlik.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal"
                                        data-area="Yabancı ve Vatandaşlık Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/sporhukuku.svg" alt="Spor Hukuku" width="64" height="64">
                                <h5 class="card-title pt-3">SPOR HUKUKU</h5>
                                <p class="card-text">Spor dünyasının hukuki ihtiyaçlarına özel çözümler.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Spor Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="card">
                            <div class="card-body text-center">
                                <img src="/static/icons/bilisimhukuku.svg" alt="Bilişim Hukuku" width="64"
                                     height="64">
                                <h5 class="card-title pt-3">BİLİŞİM HUKUKU</h5>
                                <p class="card-text">Dijital dünyada hukuki koruma ve danışmanlık.</p>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                        data-bs-target="#calismaAlaniModal" data-area="Bilişim Hukuku">
                                    DAHA FAZLA BİLGİ
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="swiper-scrollbar"></div>
            </div>

        </div>
    </div>
</section>


<section id="iletisim">
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Gönderim Başarılı</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Mesajınızı aldık, size en kısa sürede dönüş sağlayacağız.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>BİZİMLE İLETİŞİME GEÇİN</h2>
        <div class="row">
            <div class="col-md-6">
                <form id="contactForm" action="/" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Ad Soyad</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email Adresiniz</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Mesajınız</label>
                        <textarea class="form-control" id="message" rows="5" name="message" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </form>
            </div>
            <div class="col-md-6" id="InfoContainer">
                <h5><i class="bi bi-geo-alt-fill" style="color:#FFD700"></i> OFİS ADRESİ</h5>
                <p>Çukurambar, Ankara, Türkiye</p>
                <h5><i class="bi bi-telephone-fill" style="color:#FFD700"></i> TELEFON</h5>
                <p>Ev Telefonu: +90 312 431 23 21</p>
                <p>Cep Telefonu: +90 554 802 23 23</p>
                <h5><i class="bi bi-envelope-fill" style="color:#FFD700"></i> EMAİL</h5>
                <p>aychukukdanismanlik@gmail.com</p>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock %}
