<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title id="pageTitle">AYC Hukuk Danışmanlık & Arabuluculuk</title>
    <link rel="icon" type="image/png" href="/static/favicons/favicon-48x48.png" sizes="48x48"/>
    <link rel="icon" type="image/svg+xml" href="/static/favicons/favicon.svg"/>
    <link rel="shortcut icon" href="/static/favicons/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="AYC HUKUK"/>
    <link rel="manifest" href="/static/favicons/site.webmanifest"/>
    <meta name="description"
          content="AYC Hukuk, Ankara'da kişiye özel hukuki çözümler sunan güvenilir bir hukuk danışmanlığı firmasıdır. Ceza hukuku, aile hukuku, iş hukuku, ticaret hukuku, gayrimenkul hukuku ve spor hukuku dahil geniş çalışma alanlarında uzman avukat kadrosuyla hizmet vermektedir. Av. Ahmet Yusuf CAN liderliğindeki deneyimli ekibimiz, müvekkillerimize kapsamlı hukuki destek sağlamaktadır. Çukurambar'daki ofisimizde, her türlü hukuki süreçte yanınızdayız.">
    <meta name="keywords"
          content="AYC Hukuk, Ankara avukat, hukuk danışmanlığı, Ahmet Yusuf CAN, Avukat Ahmet Yusuf Can, Av. Ahmet Yusuf Can, ceza hukuku, aile hukuku, iş hukuku, ticaret hukuku, gayrimenkul hukuku, kira hukuku, spor hukuku, bilişim hukuku, uzman avukat, hukuk kariyeri, kiracı dava, ev sahibi dava">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.aychukuk.com/">
    <meta property="og:title" content="AYC Hukuk - Danışmanlık">
    <meta property="og:description"
          content="AYC Hukuk, Ankara'da kişiye özel hukuki çözümler sunan uzman avukat kadrosuyla hizmetinizdedir.">
    <meta property="og:image" content="https://www.aychukuk.com/static/ayclogo.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.aychukuk.com/">
    <meta property="twitter:title" content="AYC Hukuk - Danışmanlık">
    <meta property="twitter:description"
          content="AYC Hukuk, Ankara'da kişiye özel hukuki çözümler sunan uzman avukat kadrosuyla hizmetinizdedir.">
    <meta property="twitter:image" content="https://www.aychukuk.com/static/ayclogo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

    {{ bootstrap.load_css() }}
</head>

<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light px-5" id="mainNavbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/static/aychukuklogo.png" alt="AYC HUKUK" class="visible-mobile"><img
                src="/static/aychukuklogodesktop.png" alt="AYC HUKUK" class="hidden-mobile"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#hakkimizda">HAKKIMIZDA</a></li>
                <li class="nav-item"><a class="nav-link" href="#cv">CV</a></li>
                <li class="nav-item"><a class="nav-link" href="#calisma-alanlari">ÇALIŞMA ALANLARI</a></li>
                <li class="nav-item"><a class="nav-link" href="#iletisim">İLETİŞİM</a></li>
            </ul>
        </div>
    </div>
</nav>

<header class="hero-section d-flex align-items-center justify-content-center" id="hero">
    <div id="hero-container" class="container text-center">
        <h1 class="text-white" id="heroTitle">AYC Hukuk Danışmanlık & Arabuluculuk</h1>
        <p class="lead text-white" id="heroSubtitle">Hukuki Uzmanlık, Kişiselleştirilmiş Çözümler</p>
        <a href="#iletisim" id="cta-button" class="btn btn-primary btn-lg mt-4 border px-4 ">BİZİMLE İLETİŞİME GEÇİN <i
                class="bi bi-arrow-right "></i></a>
    </div>
</header>


<div class="container mt-5">
    {% block content %}
    {% endblock %}
</div>

<!-- Footer -->
<footer class="bg-light text-secondary py-3 mt-auto">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
        <div class="col-md-4 d-flex align-items-center">
            <span>&copy; {{ year }} AYC Hukuk Danışmanlık & Arabuluculuk</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://wa.me/905548022323"><i
                    class="bi bi-whatsapp" style="color:#E0C65B"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="mailto: aychukukdanismanlik@gmail.com"><i
                    class="bi bi-envelope-at" style="color:#E0C65B"></i></a></li>
            <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/aychukukdanismanlik/"><i
                    class="bi bi-instagram" style="color:#E0C65B"></i></a></li>
        </ul>
    </div>
</footer>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{{ bootstrap.load_js() }}
</body>

</html>
